<!-- HTML section starts -->
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <!-- Body Section Starts -->
  <body>
    <div class="body_wrapper">
      <!--Header PHP section Starts-->

      <!--Header section starts-->
      <!-- <nav class="bg-blue text-white col-md-12 text-center pt-2 pb-2" style="width:100%; ">Register for our Virtual B2B event – B2B Binge 4.0 Powered by Ampliz | 11 SEP 2020 |  &nbsp;<a href="https://www.ampliz.com/b2b-binge-ampliz"  class="text-white" style="text-decoration:underline;">Register for Free</a> </nav> -->
      {% include header.html %}
      <!--Header section Ends-->
      <!--Header PHP section Ends-->
      <!-- Our Data  section start-->
      {% include hero-section.html %}
      <!-- Our Data  section Ends-->
      <!-- client section logo starts -->
      {% include brands.html %}
      <!-- client section logo End -->
      <!-- Data Management Process section Starts-->
      {% include management.html %}
      <!-- Data Management Process section Ends-->
      <!-- Our Global Data Platform Snapshot section Starts-->
      {% include easy.html %}
      <!-- Our Global Data Platform Snapshot section Ends-->
      <!-- Data processesig section start -->
      {% include data.html %}
      <!-- Data processesig section End -->
      <!-- client section start -->
      <!-- Get Your Free Trial Today Start -->
      {% include subs.html %}
      <!-- Get Your Free Trial Today End -->
      <!-- GDPR Section Start -->
      {% include gdpr.html %}
      <!-- GDPR Section End -->
      <!-- Footer PHP Section start  -->
      {% include footer.html %} {% include footer-bottom.html %}
      <!-- Footer PHP Section Ends  -->
    </div>
    <!-- script -->
    {% include script.html %}
  </body>
  <!-- body section End -->
</html>
<!-- HTML section Ends -->
