<section class="app_service_area app_service_area_two">
  <div class="container">
    <div class="row app_service_info">
      <div class="col-lg-4 col-sm-6">
        <div class="app_service_item">
          <div class="text-center">
            <img
              class="illustr img-fluid"
              src="/assets/img/our-data/Data-collection-from-credible-sources.png"
              alt=""
            />
          </div>
          <h5 class="f_p f_size_18 f_600 t_color3 mt-3 mb-3">
            Data Collection from Credible Sources
          </h5>
          <p class="f_400 f_size_15">
            Our data is gathered from a wide range of credible sources such as
            government records and listings, tradeshows, corporate events,
            annual reports, public filings, business and trade magazine
            subscriptions, B2b directories, and more. We also work with
            third-party data vendors to create the first data cut.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="app_service_item">
          <div class="text-center">
            <img
              class="illustr img-fluid"
              src="/assets/img/our-data/Eliminating-errors.png"
              alt=""
            />
          </div>
          <h5 class="f_p f_size_18 f_600 t_color3 mt-3 mb-3">
            Eliminating Errors & Inconsistencies
          </h5>
          <p class="f_400 f_size_15 pb-80">
            Once the first cut of data is ready, it goes through a thorough
            cleansing process where a team of data experts weed out errors,
            inconsistencies, and duplications, if any.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="app_service_item">
          <div class="text-center">
            <img
              class="illustr img-fluid"
              src="/assets/img/our-data/Data-Processing.png"
              alt=""
            />
          </div>
          <h5 class="f_p f_size_18 f_600 t_color3 mt-3 mb-3">
            Data Processing
          </h5>
          <p class="f_400 f_size_15 pb-95">
            This step entails converting raw data into meaningful data that is
            ready to use. As part of this process, data is reorganized in a
            clear, concise format to enable analysis.
          </p>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 pt-3"></div>
      <div class="col-lg-4 col-sm-6">
        <div class="app_service_item">
          <div class="text-center">
            <img
              class="illustr img-fluid"
              src="/assets/img/our-data/Adding-prospect-Intelligence.png"
              alt=""
            />
          </div>
          <h5 class="f_p f_size_18 f_600 t_color3 mt-3 mb-3">
            Adding Prospect Intelligence
          </h5>
          <p class="f_400 f_size_15">
            One of the most important steps in our data process is to add
            intelligence to data. A team of researchers add prospect
            intelligence to the datasets and tailor the data as per your
            specific requirement. This team also undertakes specific client
            tasks like Total Addressable Market or providing premium
            personalized data – not commonly available in the industry.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="app_service_item">
          <div class="text-center">
            <img
              class="illustr img-fluid"
              src="/assets/img/our-data/Accuracy-Check.png"
              alt=""
            />
          </div>
          <h5 class="f_p f_size_18 f_600 t_color3 mt-3 mb-3">Accuracy Check</h5>
          <p class="f_400 f_size_15 pb-3">
            In a continuous endeavor, we ensure that our datasets are fresh and
            accurate. A team of 800+ data experts perform the verification tasks
            by reaching out to all the contacts via phone or email, verifying
            every data set. This team also goes through the contacts' social
            profiles and adds their links to the final database.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="app_service_item">
          <div class="text-center">
            <img
              class="illustr img-fluid"
              src="/assets/img/our-data/Freshness-audit.png"
              alt=""
            />
          </div>
          <h5 class="f_p f_size_18 f_600 t_color3 mt-3 mb-3">
            Freshness Audit
          </h5>
          <p class="f_400 f_size_15 pb-3">
            People movements within B2b industries often make databases outdated
            and irrelevant. To ensure that data served to our clients is 100%
            accurate, we use machine learning algorithms to update data in
            real-time. Additionally, we also follow the manual process of
            updating our datasheets every month.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
