<section class="easy_setup_area sec_pad">
  <div class="container">
    <div class="hosting_title analytices_title text-center pt-5">
      <h2
        class="wow fadeInUp"
        data-wow-delay="0.2s"
        style="
          visibility: visible;
          animation-delay: 0.2s;
          animation-name: fadeInUp;
        "
      >
        Our 6-Step Data Process
      </h2>
      <p
        class="wow fadeInUp"
        data-wow-delay="0.4s"
        style="
          visibility: visible;
          animation-delay: 0.4s;
          animation-name: fadeInUp;
        "
      >
        We keep a firm eye on the changing market needs and work on a flexible
        model that helps us build custom data solutions for you. We promise you
        will find us incredibly nimble-footed. That's because our process is
        flexible and scalable.
      </p>
    </div>
    <div class="setup_inner">
      <div class="setup_item row">
        <div
          class="col-md-5 setup_img wow fadeInLeft"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInLeft;
          "
        >
          <img src="{{ root_url }}/assets/img/our-data/pie.png" alt="" />
        </div>
        <div class="col-md-2 s_number">
          <div class="round1">01</div>
        </div>
        <div class="col-md-5">
          <div
            class="setup_content wow fadeInRight"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInRight;
            "
          >
            <h5>Gather</h5>
            <p>Data collection from 500 + credible sources</p>
          </div>
        </div>
        <div
          class="line bottom_half wow height"
          data-wow-delay="0.5s"
          style="
            visibility: visible;
            animation-delay: 0.5s;
            animation-name: height;
          "
        ></div>
      </div>
      <div class="setup_item row flex-row-reverse">
        <div
          class="col-md-5 setup_img wow fadeInRight"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInRight;
          "
        >
          <img src="{{ root_url }}/assets/img/our-data/setup_img1.png" alt="" />
        </div>
        <div class="col-md-2 s_number">
          <div class="round1">02</div>
        </div>
        <div class="col-md-5">
          <div
            class="setup_content wow fadeInLeft"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInLeft;
            "
          >
            <h5>Cleanse</h5>
            <p>Addressing data errors and inconsistencies</p>
          </div>
        </div>
        <div
          class="line wow height"
          data-wow-delay="0.9s"
          style="
            visibility: visible;
            animation-delay: 0.9s;
            animation-name: height;
          "
        ></div>
      </div>
      <div class="setup_item row">
        <div
          class="col-md-5 setup_img wow fadeInLeft"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInLeft;
          "
        >
          <img src="{{ root_url }}/assets/img/our-data/setup_img2.png" alt="" />
        </div>
        <div class="col-md-2 s_number">
          <div class="round1">03</div>
        </div>
        <div class="col-md-5">
          <div
            class="setup_content wow fadeInRight"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInRight;
            "
          >
            <h5>Process</h5>
            <p>Transformation of cleansed data into useful data through ML</p>
          </div>
        </div>
        <div
          class="line wow height"
          data-wow-delay="1.5s"
          style="
            visibility: visible;
            animation-delay: 1.5s;
            animation-name: height;
          "
        ></div>
      </div>
      <div class="setup_item row flex-row-reverse">
        <div
          class="col-md-5 setup_img wow fadeInRight"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInRight;
          "
        >
          <img src="{{ root_url }}/assets/img/our-data/setup_img3.png" alt="" />
        </div>
        <div class="col-md-2 s_number">
          <div class="round1">4</div>
        </div>
        <div class="col-md-5">
          <div
            class="setup_content wow fadeInLeft"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInLeft;
            "
          >
            <h5>Enhance</h5>
            <p>Prospect intelligence adding and quality check</p>
          </div>
        </div>
        <div
          class="line wow height"
          data-wow-delay="0.9s"
          style="
            visibility: visible;
            animation-delay: 0.9s;
            animation-name: height;
          "
        ></div>
      </div>
      <div class="setup_item row">
        <div
          class="col-md-5 setup_img wow fadeInLeft"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInLeft;
          "
        >
          <img src="{{ root_url }}/assets/img/our-data/setup_img4.png" alt="" />
        </div>
        <div class="col-md-2 s_number">
          <div class="round1">05</div>
        </div>
        <div class="col-md-5">
          <div
            class="setup_content wow fadeInRight"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInRight;
            "
          >
            <h5>Validate</h5>
            <p>Accuracy check via telephone and email verification processes</p>
          </div>
        </div>
        <div
          class="line wow height"
          data-wow-delay="1.5s"
          style="
            visibility: visible;
            animation-delay: 1.5s;
            animation-name: height;
          "
        ></div>
      </div>
      <div class="setup_item row flex-row-reverse">
        <div
          class="col-md-5 setup_img wow fadeInRight"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInRight;
          "
        >
          <img src="{{ root_url }}/assets/img/our-data/security_3.png" alt="" />
        </div>
        <div class="col-md-2 s_number">
          <div class="round1">6</div>
        </div>
        <div class="col-md-5">
          <div
            class="setup_content wow fadeInLeft"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInLeft;
            "
          >
            <h5>Evaluate</h5>
            <p>Ensuring near real-time data updates</p>
          </div>
        </div>
        <div
          class="line wow height"
          data-wow-delay="0.9s"
          style="
            visibility: visible;
            animation-delay: 0.9s;
            animation-name: height;
          "
        ></div>
      </div>
    </div>
  </div>
</section>
