<div class="footern_bottom">
  <div class="container m-auto">
    <div class="row">
      <div class="col-lg-6 col-md-3 col-sm-12 align-md-center align-sm-center">
        <a class="navbar-brand" href="https://www.ampliz.com/"
          ><img
            style="height: 50px"
            src="/assets/img/Ampliz-logo-black.png"
            srcset="/assets/img/Ampliz-logo-black.png 2x"
            alt="logo"
        /></a>
        <span class="copy_fnt">&copy; Copyright 2021 Ampliz Pvt. Ltd. </span>
      </div>
    </div>
  </div>
</div>
