<footer class="footern-wrapper">
  <div class="container m-auto">
    <div class="row">
      <div class="col col-xs-12">
        <div class="footer-heading">PRODUCTS</div>
        <div class="footer-link">
          <ul>
            <li>
              <a
                href="https://chrome.google.com/webstore/detail/ampliz-sales-buddy/abgoaphadkcmbkapnamhkcgkaddlmfal"
                >Chrome Extension</a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/healthcare-intelligence"
                >Healthcare Platform</a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/sales">Prospecting Platform</a>
            </li>
            <li>
              <a
                >Contact API
                <span class="badge badge-primary">Coming Soon</span></a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/email-finder">Email Finder</a>
            </li>
            <li>
              <a href="https://www.ampliz.com/custom-data">Custom Data</a>
            </li>
            <li><a href="https://www.ampliz.com/npi">NPI Lookup</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading">COMPANY</div>
        <div class="footer-link">
          <ul>
            <!-- <li><a href="https://www.ampliz.com/pricing">Pricing</a></li> -->
            <li>
              <a href="https://www.ampliz.com/our-data">Our Data</a>
            </li>
            <li>
              <a href="https://www.ampliz.com/privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a href="https://www.ampliz.com/cookie-policy">Cookies Policy</a>
            </li>
            <li>
              <a href="https://www.ampliz.com/gdpr-compliance"
                >GDPR Compliance</a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/terms-conditions"
                >Term & Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer-heading">RESOURCES</div>
        <div class="footer-link">
          <ul>
            <li>
              <a href="https://www.ampliz.com/resources/blog/">Blog</a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCX4Uvuo4y5B4VQe7Y1j1lSA"
                >Videos</a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/resources/e-books/">Ebooks</a>
            </li>
            <li>
              <a href="https://www.ampliz.com/zoominfo-alternative"
                >Zoominfo Alternative</a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/all-companies"
                >Company Directory</a
              >
            </li>
            <li>
              <a href="https://www.ampliz.com/speciality/alabama"
                >Healthcare Directory</a
              >
            </li>
            <!-- <li><a >Healthcare Directory <span class="badge badge-primary">Coming Soon</span></a></li> -->
          </ul>
        </div>
      </div>

      <div class="col col-md-3 col-sm-12 col-xs-12">
        <div class="address-wrapper">
          <div class="address-heading" style="left: 28px">
            <img src="{{ root_url }}/assets/img/homenew/map-pin.png" />USA
          </div>
          <div class="address">1900 Powell Suite, Emeryville CA 94649, USA</div>
          <div class="email">
            <span class="font-weight-bold mr-2">Email:</span
            ><a href="mailto:marketing@ampliz.com"
              ><span
                class="__cf_email__"
                data-cfemail="670a06150c02130e090027060a170b0e1d4904080a"
                >marketing@ampliz.com</span
              ></a
            >
          </div>
          <div class="phone">
            <span class="font-weight-bold mr-2">Phone:</span>+1-281-978-4433
          </div>
        </div>

        <div
          class="col col-md-4 align-md-center align-sm-center"
          style="padding-left: 0px"
        >
          <div class="d-flex align-items-center h-100 mb-3 social-icon">
            <a
              class="pr-2"
              href="https://www.facebook.com/AmplizSuite/"
              target="_blank"
              ><img
                class="social-ico"
                src="{{ root_url }}/assets/img/homenew/social-icon/facebook.svg"
            /></a>
            <a
              class="pr-2"
              href="https://twitter.com/AmplizSuite"
              target="_blank"
              ><img
                class="social-ico"
                src="{{ root_url }}/assets/img/homenew/social-icon/twitter.svg"
            /></a>
            <a
              class="pr-2"
              href="https://www.linkedin.com/company/ampliz/"
              target="_blank"
              ><img
                class="social-ico"
                src="{{ root_url }}/assets/img/homenew/social-icon/linkedin.svg"
            /></a>
            <a
              class="pr-2"
              href="https://amplizb2b-salesnmrktn.slack.com/"
              target="_blank"
              ><img
                class="social-ico"
                src="{{ root_url }}/assets/img/homenew/social-icon/slack.svg"
            /></a>
            <a
              class="pr-2"
              href="https://www.youtube.com/channel/UCX4Uvuo4y5B4VQe7Y1j1lSA"
              target="_blank"
              ><img
                class="social-ico"
                src="{{ root_url }}/assets/img/homenew/social-icon/youtube.svg"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
