<section class="security_customers_logo_area">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="security_app_btn npt-new">
        <h5>CCPA and GDPR aligned</h5>
        <p>Full Compliance with all Laws and Legislation</p>
      </div>
      <div class="security_app_btn pl-5" style="display: flex">
        <div class="">
          <img
            src="{{ root_url }}/assets/img/apac-inteligence/GDPR-Whitle.png"
            alt="GDPR"
          />
        </div>
        <div class="col-md-7">
          <h5 style="font-size: 35px">
            GDPR <br />
            <span class="fnd-spn">Alligned </span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
