<header class="header_area" style="z-index: 9999">
  <nav class="navbar navbar-expand-lg menu_one menu_four">
    <div class="container custom_container p0">
      <a class="navbar-brand" href="/"
        ><img
          style="height: 50px"
          src="/assets/img/Ampliz-logo-black.png"
          srcset="/assets/img/Ampliz-logo-black.png 2x"
          alt="logo"
      /></a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="menu_toggle">
          <span class="hamburger">
            <!-- <span></span> -->
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav pl_100 menu mr-auto">
          <li class="nav-item dropdown submenu">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Products
              <i
                class="jet-dropdown-arrow fa fa-angle-down"
                style="font-weight: 600"
              ></i>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a
                  href="https://www.ampliz.com/apac-intelligence"
                  class="nav-link"
                >
                  <img
                    src="/assets/img/homenew/header/users.svg"
                    class="attachment-medium mr-3"
                    alt="Apac"
                    width="20"
                  />Apac Intelligence</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="https://www.ampliz.com/healthcare-intelligence"
                  class="nav-link"
                  ><img
                    src="/assets/img/homenew/header/activity.svg"
                    class="attachment-medium mr-3"
                    alt="Healthcare"
                    width="20"
                  />
                  Healthcare Intelligence</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown submenu mega_menu">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Solutions
              <i
                class="jet-dropdown-arrow fa fa-angle-down"
                style="font-weight: 600"
              ></i>
            </a>
            <div class="mega_menu_inner">
              <ul class="dropdown-menu">
                <li class="nav-item nv-clr">
                  <a class="nav-link">BY ROLE</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="https://www.ampliz.com/sales" class="nav-link"
                        ><img
                          src="/assets/img/homenew/header/bar-chart-2.svg"
                          class="attachment-medium mr-3"
                          alt="Sales"
                          width="20"
                        />Sales</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="https://www.ampliz.com/marketing"
                        class="nav-link"
                        ><img
                          src="/assets/img/homenew/header/tv.svg"
                          class="attachment-medium mr-3"
                          alt="Marketing"
                          width="20"
                        />Marketing</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="https://www.ampliz.com/recruiter-data-solutions"
                        class="nav-link"
                        ><img
                          src="/assets/img/homenew/header/headphones.svg"
                          class="attachment-medium mr-3"
                          alt="Recruiters"
                          width="20"
                        />Recruiters
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link">BY USE CASE</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a
                        href="https://www.ampliz.com/ampliz-enterprise"
                        class="nav-link"
                        ><img
                          src="/assets/img/homenew/header/users.svg"
                          class="attachment-medium mr-3"
                          alt="Enterprise"
                          width="20"
                        />Enterprise</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="https://www.ampliz.com/ampliz-enhance"
                        class="nav-link"
                        ><img
                          src="/assets/img/homenew/header/zap.svg"
                          class="attachment-medium mr-3"
                          alt="Enhance"
                          width="20"
                        />Enhance</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="https://www.ampliz.com/ampliz-salesbuddy"
                        class="nav-link"
                        ><img
                          src="/assets/img/homenew/header/salesbuddy.png"
                          class="attachment-medium mr-3"
                          alt="salesbuddy"
                          width="20"
                        />SalesBuddy</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.ampliz.com/our-data"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Our Data
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.ampliz.com/book-your-demo"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Demo
            </a>
          </li>
        </ul>

        <a
          class="nav-link lnk"
          href="https://go.ampliz.com/"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="/assets/img/homenew/header/user.svg"
            class="attachment-medium mr-1"
            alt="log-in"
            width="20"
          />Login
        </a>
        <div class="bt-nnrt"></div>

        <a
          class="btn_blue btn_hover menu_cus mr-3"
          href="https://www.ampliz.com/signup"
        >
          Start For Free <span style="font-size: 10px"></span
        ></a>
        <a
          class="btn_get btn_hover menu_cus"
          href="https://chrome.google.com/webstore/detail/ampliz-sales-buddy/abgoaphadkcmbkapnamhkcgkaddlmfal"
        >
          <img
            src="/assets/img/homenew/header/google-chrome.svg"
            class="attachment-medium"
            alt="ico-funnels"
            width="20" />
          Install Extension <span style="font-size: 10px"></span
        ></a>
      </div>
    </div>
  </nav>
</header>
