<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="robots"
    content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
  />
  <link
    rel="shortcut icon"
    href="/assets/img/favicon.png"
    type="image/x-icon"
  />
  <title>Get Personlized B2B Data From Ampliz</title>
  <!--meta tag section starts-->
  <meta
    name="description"
    content="We provide you with personalized  B2B data solutions. We listen and serve you the data you need. Count us as your B2B data champion."
  />
  <meta name="keywords" content="personalized b2b data, b2b data solutions" />
  <link rel="canonical" href="https://www.ampliz.com/our-data" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Get Personlized B2B Data From Ampliz " />
  <meta
    property="og:description"
    content="We provide you with personalized  B2B data solutions. We listen and serve you the data you need. Count us as your B2B data champion."
  />
  <meta property="og:url" content="https://www.ampliz.com/our-data" />
  <meta property="og:site_name" content="Ampliz" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:description"
    content="We provide you with personalized  B2B data solutions. We listen and serve you the data you need. Count us as your B2B data champion."
  />
  <meta name="twitter:title" content="Get Personlized B2B Data From Ampliz" />
  <meta name="twitter:site" content="@amplizsuite" />
  <meta name="twitter:creator" content="@amplizsuite" />
  <!--meta tag section end-->
  <!-- Bootstrap CSS starts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/our-data.css" />
  <link rel="stylesheet" href="/assets/css/responsive.css" />
  <link rel="stylesheet" href="/assets/css/icons.css" />
  <link rel="stylesheet" href="/assets/css/animate.css" />
  <link rel="stylesheet" href="/assets/fonts/proxima-nova/fonts.css" />
  <link rel="stylesheet" href="/assets/css/outreachPage.css" />
  <link rel="stylesheet" href="/assets/css/styleN.css" />
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-75803693-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-75803693-1");
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
