<section class="home_analytics_banner_area">
  <div class="elements">
    <div class="elements_item">
      <img src="{{ root_url }}/assets/img/our-data/elements_five.png" alt="" />
    </div>
    <div class="elements_item">
      <img src="{{ root_url }}/assets/img/our-data/elements_six.png" alt="" />
    </div>
  </div>
  <div class="home_bubble">
    <div class="bubble b_three"></div>
    <div class="bubble b_four"></div>
    <div class="bubble b_five"></div>
    <div class="bubble b_six"></div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="h_analytics_content">
          <h2
            class="wow fadeInLeft"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInLeft;
            "
          >
            Personalized, reliable, efficient
            <span class="blu-txt">b2b data</span>
          </h2>
          <p
            class="wow fadeInLeft"
            data-wow-delay="0.6s"
            style="
              visibility: visible;
              animation-delay: 0.6s;
              animation-name: fadeInLeft;
            "
          >
            We get it, growing your business can be nerve-racking. And if you do
            not have access to fresh, accurate and reliable B2B data, your
            company's growth may pause. Don't worry, You are in the right place.
          </p>
          <p
            class="wow fadeInLeft"
            data-wow-delay="0.8s"
            style="
              visibility: visible;
              animation-delay: 0.8s;
              animation-name: fadeInLeft;
            "
          >
            Avail fresh, accurate and reliable B2B data.
          </p>
          <div
            class="
              d-flex
              align-items-center
              justify-content-left
              pt-3
              wow
              fadeInLeft
            "
            data-wow-delay="0.10s"
            style="
              visibility: visible;
              animation-delay: 0.1s;
              animation-name: fadeInLeft;
            "
          >
            <a
              href="https://www.ampliz.com/signup"
              class="home-2-black mr-3"
              style="font-size: 14px"
              >Start for Free</a
            >
            <a
              href="https://www.ampliz.com/book-your-demo"
              class="home-2-btn round-pill ml-3"
              style="font-size: 14px"
              >Book A Demo</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="h_analytices_img">
          <img
            class="wow fadeInRight img-fluid"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInRight;
            "
            src="{{ root_url }}/assets/img/our-data/Header-illustration@2x.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
