<section class="intregration_area bg_color sec_pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pt-5 d-flex align-items-center">
        <div class="intregration_content">
          <h2 class="red-fnt">ABOUT US</h2>
          <h2>We Are Your Growth Enablers</h2>
          <p>
            No one understands your business and its unique challenges better
            than you. We are eager as ever to learn them from you and provide
            you with personalized data solutions. We listen and serve you the
            data you need.
          </p>
          <p>Count us as your B2B data champion.</p>
          <a
            href="https://www.ampliz.com/book-your-demo"
            target="blank"
            class="btn_seven mb-5 slider_btn2 mt-4"
            >Speak to our data experts now</a
          >
        </div>
      </div>
      <div class="col-lg-7 pd-top">
        <div class="row intregration_logo">
          <div class="col-6 intregration_item">
            <img src="{{ root_url }}/assets/img/our-data/icon-1.png" alt="" />
            <p class="intregration_icon ml-3">
              Data collection from 100+ of credible sources
            </p>
          </div>
          <div class="col-6 intregration_item">
            <img src="{{ root_url }}/assets/img/our-data/icon-2.png" alt="" />
            <p class="intregration_icon ml-3">
              A dedicated team of 800+ data experts to collect, verify, and
              validate your personalized data
            </p>
          </div>
          <div class="col-6 intregration_item">
            <img src="{{ root_url }}/assets/img/our-data/icon-3.png" alt="" />
            <p class="intregration_icon ml-3">
              Fresh, accurate, reliable data tailormade to solve your business
              problems
            </p>
          </div>
          <div class="col-6 intregration_item">
            <img src="{{ root_url }}/assets/img/our-data/icon-4.png" alt="" />
            <p class="intregration_icon ml-3">
              Game-changing market insights for smarter decision-making and
              business
            </p>
          </div>
          <div class="col-6 intregration_item">
            <img src="{{ root_url }}/assets/img/our-data/icon-5.png" alt="" />
            <p class="intregration_icon ml-3">
              New industry information or datasets not commonly available in the
              market
            </p>
          </div>
          <div class="col-6 intregration_item">
            <img src="{{ root_url }}/assets/img/our-data/icon-6.png" alt="" />
            <p class="intregration_icon ml-3">
              Strong customer support for any assistance you may require
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
